.mainContainer {
    width: 100%;
    height: 100vh;
    background: rgb(245, 239, 239);
    overflow: hidden;
}

.rightPannel {
    height: 100%;
    width: 100%;
    background-image: url(./doodle.png);
    background-position: center;
    background-size: contain;
}

.leftPannel {
    position: relative;
    height: 100%;
    width: 100%;
    background: #fff;
    background-image: url(./milad-fakurian-PGdW_bHDbpI-unsplash.jpg);
    /* background-image:  radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.67) 0.1%, rgba(239,249,251,0.63) 90.1% ); */
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    display: flex;
    justify-content: center;
    padding: 20px 20px 10px 20px ;
    width: 400px;
    height: auto;
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.formStyle{
    width: 100%;
}
.exitPage{
    position: absolute;
    right: 50px;
    bottom: 120px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #424242;
    color: #fff;
    font-size: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 300ms;
}
.exitPage:hover{
    color: #424242;
    background: #fff;
    transform: scale(1.1);
}